/*
Esta es una hoja de estilos en cascada, es decir, estilos CSS3
generados en un archivo aparte, que será cargado en cualquier
archivo HTML que se necesite.

Respetaremos este formato base para la definición de estilos:
1- etiqueta a la cual se aplica
2- entre llaves el bloque de estilos definido
3- para cada estilo -> propiedad: valor
4- separamos cada línea con punto y coma

Atención!: recordar que en este caso NO utilizamos la etiqueta style,
escribimos código CSS directamente.
*/

body {
    color: #333333;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
}

h1 {
    color: darkred;
}

p {
    color: black;
    /* border: 1px solid black; */
}

button {
    color: white;
    background-color: #333333;
    margin-top: 16px;
    padding: 8px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

input {
    color: #333333;
    background-color: lightgray;
    padding: 8px;
    border: 0;
    border-radius: 4px;
}

form {
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 16px;
}

/*
Además de aplicar estilos a los distintos tags html disponibles,
podemos definir nuestras propias clases de estilo, colocando un
nombre personalizado, antecedido por un punto.

Para asignar estas clases en el HTML, utilizaremos el atributo class
*/
.btn-ok {
    background-color: forestgreen;
}

.btn-err {
    background-color: darkred;
}